h1 {
    margin-bottom: 0.3rem;
    font-weight: 800;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#TOC {
    width: 50%;
    background: #eee;
    opacity: 0.7;
    font-size: 0.8em;
    padding: 1em 2em;
    margin: 0 0 0.5em 0.5em;
}

a {
    color: #18bc9c;
    text-decoration: none;
}

.container-fluid.main-container {
    max-width: 600px;
    margin-left: 0;
    margin-right: auto;
}

.hljs {
    color: #c5c8c6;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #1d1f21;
}

pre code {
    color: whitesmoke;
    background: inherit;
    white-space: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

code {
    border-radius: 2px;
    white-space: pre-wrap;
    color: #5e5e5e;
    background: #FFF7DD;
    border: 1px solid #fbf0cb;
    padding: 0 2px;
}

code, kbd, pre, samp {
    font-family: "Consolas", menlo, monospace;
    font-size: 92%;
}

code {
    vertical-align: bottom;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

code {
    font-family: monospace;
}

#body-inner pre {
    white-space: pre-wrap;
}

pre {
    padding: 1rem;
    margin: 2rem 0;
    background: #1d1f21;
    border: 0;
    border-radius: 2px;
    line-height: 1.15;
}

pre {
    position: relative;
    color: #ffffff;
}

pre {
    font-family: monospace;
    white-space: pre-wrap;
}

body {
    color: var(--MAIN-TEXT-color) !important;
}

body {
    font-size: 16px !important;
    color: #323232 !important;
    text-align: justify;
    word-wrap: break-word;
    max-height: 400px;
    clip: rect(0px,0px,400px,0px);

}

body {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 18px !important;
}

body {
    background: #fff;
    color: #777;
}

body {
    font-size: 1.05rem;
    line-height: 1.7;
}

:root {
    --MAIN-TEXT-color: #323232;
    --MAIN-TITLES-TEXT-color: #5e5e5e;
    --MAIN-LINK-color: #599a3e;
    --MAIN-LINK-HOVER-color: #3f6d2c;
    --MAIN-ANCHOR-color: #599a3e;
    --MENU-HEADER-BG-color: #74b559;
    --MENU-HEADER-BORDER-color: #9cd484;
    --MENU-SEARCH-BG-color: #599a3e;
    --MENU-SEARCH-BOX-color: #84c767;
    --MENU-SEARCH-BOX-ICONS-color: #c7f7c4;
    --MENU-SECTIONS-ACTIVE-BG-color: #1b211c;
    --MENU-SECTIONS-BG-color: #222723;
    --MENU-SECTIONS-LINK-color: #ccc;
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777;
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff;
    --MENU-VISITED-color: #599a3e;
    --MENU-SECTION-HR-color: #18211c;
}


.hljs::selection, .hljs span::selection {
    background: #b7b7b7;
}
.hljs::selection, .hljs span::selection {
    background: #373b41;
}

.rfunction{
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
    color: #ccc;
    background: #1d1f21;
    font-size: .7em;
    text-align: center;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 2.4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.logical{
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
    color: #990073;
    background: #1d1f21;
    font-size: .7em;
    text-align: center;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 2.4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.triangle {
  position: fixed;
  left:1015px;
  margin-bottom:0;
  top:60vh;
  overflow-x: hidden;
  right: 0;
  width: 0;
  height: 0;
  border-bottom:350px solid #373b41;
  border-left: 350px solid transparent;
  color: #ffffff;
}

.fade {
  position: relative;
  left:600px;
  opacity: 0;
  width:600px;
  z-index: 9;
}

#scatterplot {
  position:relative;
  top: -60vh;
}

#linegraph {
  position:relative;
  top: -150vh;
}

#codeline {
  position:relative;
  top: -90vh;
}

#geomcodedetail {
  position:relative;
  top: -90.5vh;
}

#linegraphdetail {
  position:relative;
  top: -180vh;
}

#densitygraph {
  position:relative;
  top: -250vh;
}

#densitycode {
  position: relative;
  top: -180vh;
}

#densitydetail {
  position: relative;
  top: -270vh;
}

#barcode {
  position: relative;
  top: -270vh;
}

#barchart {
  position: relative;
  top: -360vh;
}

#bardetail {
  position: relative;
  top: -360vh;
}

#simple-regression {
  position: relative;
  top: -360vh;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fadeIn, .fadeOut {
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}

.fadeOut {
  animation-name: fadeOut;
}

.fadeIn {
  animation-name: fadeIn;
}

#scatterplotdetail{
  position: relative;
  top: -90vh;
}

.focus {
    border-width: 8px;
    border-style: solid;
    border-color: rgb(200, 200, 106);
}

pre {
    border-width: 8px;
    border-style: solid;
    border-color: rgba(200, 200, 106,0);
    transition: border-color 1s ease-in-out;
  
}
.focus {
    border-color: rgba(200, 200, 106,1);
}